$primary_red: #f00;
$primary_pink: #FF6CAA;
$primary_lightpink: #FFBEBE;
$primary_lightpink2: #FFF8FB;
$primary_deepblue: #0062f4;
$primary_blue: #2e81ff;
$primary_lightblue: #c3d8ff;
$primary_lightblue2: #F3F7FF;
$primary_deepgray: #747474;
$primary_gray: #656565;
$primary_lightgray: #D9D9D9;
$primary_lightgray2: #F1F1F1;